@keyframes dealCard {
    0%   {position: relative; top: -500px; right: -300px;}
    20%  {transform: rotate(90deg) scale(2) rotateX(90deg) rotateY(90deg);}
    40% {transform: rotate(180deg) scale(3) rotateX(180deg) rotateY(180deg);}
    60%  {transform: rotate(270deg) scale(4) rotateX(270deg) rotateY(270deg);}
    80%  {transform: rotate(360deg) scale(2) rotateX(360deg) rotateY(360deg);}
    100% {position: relative; top: 0px; right: 0px;}
}

body {
  display: flex;
  flex-direction: row;
  background-image: url('images/felt.jpg');
  font-family: Calibri;
  background-repeat: no-repeat;
  background-size: cover;
}

aside {
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.vertical-text {
  position: fixed;
  color: white;
  font-size: 3em;
  right: -40px;
  top: 150px;
  transform: rotate(90deg);
  letter-spacing: 8px;
}
#right {
  justify-content: center;
}
#left {
  justify-content: flex-end;
  align-items: center;
}

button {
  width: 15vw;
  height: 5vw;
  font-size: 80%;
  margin: 0px auto 20px auto;
  background-color: rgba(52, 166, 51, 0.2);
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;

}
.playerChips {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chipValue {
  display: block;
}
main {
  height: 100vh;
  width: 70vmin;
  display: flex;
  flex-direction: column;
}
h1 {
  margin-top: 15%;
  text-align: center;
  font-size: 2em;
  font-family: Helvetica;
  color: white;
}
.cardSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  /*background: yellow;*/
}

.card {
  width: 42px;
  height: 59px;
  position: relative;
  overflow: hidden;
  animation-name: dealCard;
  animation-duration: 0.5s;
  /*animation-direction: normal;*/
}

.cardTotal {
  /*background: orange;*/
  align-self: flex-start;
  text-align: right;
  font-size: 3em;
  color: white;
}

#chipButton {
  width: 15vmin;
  height: 15vmin;
  background: green;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 2em;
}

#pot {
  float: right;
  width: 15vmin;
  height: 15vmin;
  font-size: 2.5em;
  text-align: center;
  color: white;
}

#potTotal {
  color: white;
  font-size: 2em;
}
#chipValue {
  color: white;
  font-size: 2em;
}

#endGame {
  position: fixed;
  bottom: 5px;
  right: 150px;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 40px;
  height: 5vw;
  width: 30vw;
  text-align: center;
  color: white;
  font-size: 1em;
  margin-top: 5px;
}
